body{
    background-color: #fff;
    background-size: 100%;
    margin: 0; padding: 0;
    font-family: 'robot';
}

.menu{
    background-color: rgba(0, 0, 0);
    width: 100%;
    height: 75px;
    line-height: 75px;
}
.logo{
    margin: 0;padding: 0;
    color: white;
    text-transform: uppercase;
    font-family: 'robot';
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 1px;
    text-decoration: none;
}
.m-left{
    float: left;
}
.m-right{
    float: right;
}
.inner{
    width: 80%;
    margin: auto;
}
.m-link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;margin: 0 10px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}
.m-link:hover{
    padding-bottom: 3px;
    border-color:#fff;
}
.ma-link i{
    margin-right: 5px;
}
.competence_fond{
    margin-top: -0.4%;
    width: 100%;
    height: 100vh;
}
body{
    background-color: antiquewhite;
}
.competences{
    margin-top: 15%;
    margin-right: 15%;
    margin-left: 28%;
}
.exploitation{
    margin-top: 24%;
    font-size: 130%;
    color: black;
    margin-left: 5%;
}
.windows{
    margin-top: 2%;
    margin-left: 15%;
}
.programmation{
    margin-top: 4%;
    font-size: 130%;
    color: black;
    margin-left: 5%;
}
.html{
    margin-top: 2%;
    margin-left: 15%;
}
.css{
    margin-top: 2%;
    margin-left: 15%;
}
.js{
    margin-top: 2%;
    margin-left: 15%;
}
.phyton{
    margin-top: 2%;
    margin-left: 15%;
}
.donnees{
    margin-top: 4%;
    font-size: 130%;
    color: black;
    margin-left: 5%;
}
.mysql{
    margin-top: 2%;
    margin-left: 15%;
}
.autres{
    margin-top: 4%;
    font-size: 130%;
    color: black;
    margin-left: 5%;
}
.office{
    margin-top: 2%;
    margin-left: 15%;
}
.tableau{
    margin-top: 14%;
    font-size: 130%;
    color: black;
    text-align: center;
}
.tableau2{
    margin-top: 2%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
}
.debian{
    margin-top: 14%;
    font-size: 130%;
    color: black;
    text-align: center;
}
.debian2{
    margin-top: 4%;
    margin-left: 40%;
}